{{>header}}
<div class="container">
    <form action="#/edit/{{myBook.objectId}}" method="POST">
        <fieldset>
            <legend>Edit article</legend>
            <p class="field title">
                <input type="text" name="title" value="{{myBook.title}}" id="title" placeholder="Arrays">
                <label for="title">Title:</label>
            </p>

            <p class="field category">
                <input type="text" name="category" value="{{myBook.category}}" id="category" placeholder="Java Script">
                <label for="category">Category:</label>
            </p>
            <p class="field content">
                <textarea name="content" id="content">{{myBook.content}}</textarea>
                <label for="content">Content:</label>
            </p>

            <p class="field submit">
                <button class="btn submit" type="submit">Edit</button>
            </p>
        </fieldset>
    </form>
</div>
{{>footer}}